@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 45px;
    line-height: 55px;
    color: black;
}

h4{
    font-size: 20px;
    color: 20px;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

body{
    width: 100%;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    padding: 40px 0;
}

button.normal1{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
/*header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition:  0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ffc600;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 21px;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*Home page */

#hero{
    background-image: url("./Images/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #14213d;
}

#hero button{
    background-image: url("./Images/button.png");
    background-color: transparent;
    color: #14213d;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15;
}

#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .feature-box h6{
    display: inline;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius:  4px;
    color: #088178;
    background-color: #4fe2f8;
}

#feature .feature-box:nth-child(2) h6{
    background-color: #fe9cfe;
}

#feature .feature-box:nth-child(3) h6{
    background-color: rgb(187, 248, 126);
}

#feature .feature-box:nth-child(4) h6{
    background-color: rgb(112, 202, 232);
}

#feature .feature-box:nth-child(5) h6{
    background-color: rgb(232, 175, 255);
}

#feature .feature-box:nth-child(6) h6{
    background-color: rgb(248, 178, 128);
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .discription{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .discription span{
    color: #606063 ;
    font-size: 12px;
}

#product1 .pro .discription h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .discription i{
    color: rgb(243, 181, 25);
    font-size: 12px;
}

#product1 .pro .discription h4{
    padding-top : 7px;
    font-size: 14px;
    font-weight: 1000;
    color: #1497a1;
}

#product1 .pro .kart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:  rgb(158, 217, 227);
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('./Images/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 30px 0;
}

#banner h2 span{
    color: red;
}

#banner button:hover{
    background: #34c1e1;
    color: black;
}

#sm-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    background-image: url('./Images/banner/b17.jpg');
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box:nth-child(2){
    background-image: url('./Images/banner/b10.jpg');
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner button{
    padding: 11px 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 0;
    outline: none;
    transition: 0.3s;
}

#sm-banner .banner-box:hover button{
    color: white;
    background-color: #0a657a;
    border: 1px solid #0a657a;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}

#banner3 .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    background-image: url('./Images/banner/b7.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: white;
    font-size: 22px;
    font-weight: 900;
}

#banner3 h3{
    color: black;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box:nth-child(2){
    background-image: url(./Images/banner/b4.jpg);
}


#banner3 .banner-box:nth-child(3){
    background-image: url(./Images/banner/b18.jpg);
}

#newsletter{
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
    justify-content: space-between;
    background-image: url(./Images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: rgb(251, 122, 29);
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0 ; 
    border-bottom-left-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 10px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    cursor: pointer;
    color: #465b52;
    padding-right: 4px ;
}

footer .install .row img{
    border: 1px solid #ffc600;
    border-radius: 6px;
}

footer .install img{
    margin-top: 10px ;
    margin-bottom: 15px;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#header #mobile i{
    color: white;
}

/* SHOP PAGE */

#page-header{
    background-image: url(./Images/banner/b1.jpg);
    text-align: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

#page-header h2,
#page-header p{
    color: white;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #34c1e1;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* Single product page */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-detail{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-detail h4{
    padding: 40px 0 20px 0;
}


#prodetails .single-pro-detail h2{
    font-size: 26px;
}

#prodetails .single-pro-detail select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 20px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-detail input:focus
{
    outline: none;
}
#prodetails .single-pro-detail button{
    background-color: #ffc600;
    color: black;
}

#prodetails .single-pro-detail span{
    line-height: 25px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-image-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*Media query */

@media (max-width: 1024px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: black;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar.active{
        right: 0;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        padding-left: 20px ;
        font-size: 24px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: white;
    }

    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .feature-box {
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
       min-width: 100%;
       height: 30vh;
       margin: 5px;
    }

    #banner3 {
        padding: 40px;
    }

    #banner3 .banner-box {
        min-width: 28%;
        padding: 10px;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }
    
    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #hero {
        height: 70vh;
        padding: 0 20px;
        background-position: 55%;
    }

    .section-p1 {
        padding: 20px;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .feature-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box:nth-child(2){
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        min-width: 100%;
    }

    #newsletter .form {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }

    footer .copyright {
        text-align: start;
    }

    /* single product */

    #prodetails {
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
    }

    #prodetails .single-pro-detail {
        width: 100%;
    }
}

